.contacts {
  margin-top: 35px;

  &__title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.contacts-list {
  margin: 0 auto;
  max-width: 840px;
  padding-top: 64px;
  padding-bottom: 48px;

  &__subtitle {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
  }

  &__content {
    max-width: 845px;
  }
}

.contacts-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__tel {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 12px;
  }
  &__name {
    margin-left: 32px;
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.maps {
  display: flex;
  margin-bottom: 111px;
}
