.activity {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(180deg, #f2f4fc 0%, rgba(255, 255, 255, 0) 100%);
}

.activity-list {
  display: flex;
  justify-content: space-around;
  width: 100%;

  &-title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 37px;
  }

  &-descr {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
    @include mobile {
      margin-top: 32px;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
  }

  @include laptop {
    &-title {
      color: $Text-Blue;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 32px;
      margin-top: 0px;
      width: 438px;
    }

    &-descr {
      width: 527px;
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 32px;
      margin-top: 0px;
    }
  }

  @include desktop {
    &-title {
      color: $Text-Blue;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 32px;
      width: 438px;
    }

    &-descr {
      width: 527px;
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 32px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: center;
    }

    @include tablet {
      align-items: center;
    }
  }

  img {
    width: -webkit-fill-available;
  }
}

.btn-more {
  display: block;
  text-align: center;
  width: 250px;
  // @include laptop {
  //   margin-top: 34px;
  // }
  // @include desktop {
  //   margin-top: 34px;
  // }
}
