.header-section {
  height: 40px;
  padding-left: 80px;
  padding-right: 80px;
  background: $Bg-neutrals;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) and (max-width: 903px) {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

#header {
  @include tablet {
    padding: 30px 60px;
  }
  @include laptop {
    padding: 30px 80px;
  }
  @include desktop {
    padding: 30px 80px;
  }
}
.header {
  @include center;
  justify-content: space-between;
  box-shadow: 0px 4px 14px 0px rgba(191, 191, 191, 0.25);

  @include mobile {
    padding: 16px 20px !important;
  }
}

.nav {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}

.nav__link {
  color: $Text-Black;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 24px;
}

.nav__link:hover,
.nav__link:focus {
  color: $Hover-Link;
}

.lang {
  text-transform: uppercase;
  @include center;

  .lang-separator {
    display: block;
    width: 1px;
    height: 30px;
    background: #9fa5af;
    margin: 0 5px;
  }

  .lang-localize {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:last-child {
      color: #9fa5af;
    }
  }
}

.social-icons {
  @include center;

  li {
    margin-left: 24px;
  }
  svg {
    fill: white;

    &:hover,
    &:focus {
      fill: #b3c7df !important;
    }
  }
}

.contact-info {
  @include center;

  svg {
    fill: white;
    margin-right: 12px;
  }
}

.contact-info-item {
  @include center;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
  &__phone,
  &__mail {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid transparent;
    transition: border 1s ease;
  }
  &:hover {
    &::after {
      border-bottom: 1px solid orange;
    }
  }
}

.contact-info-item:last-child {
  margin-left: 48px;
}
