.our-initiatives {
  background: linear-gradient(180deg, #f3f5fc 0%, rgba(216, 223, 236, 0) 100%);
  font-family: Montserrat;
  color: $Text-Blue;

  img {
    width: 100%;

    @include tablet {
      max-width: 100%;
      height: auto;
    }
  }

  @include mobile {
    margin-top: 70px !important;
    padding-top: 32px !important;

    &__title {
      color: $Text-Blue;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      padding-bottom: 40px;
    }

    &__descr {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      padding-bottom: 40px;
    }
  }
  @include tablet {
    margin-top: 70px !important;
    padding-top: 32px !important;

    &__title {
      color: $Text-Blue;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      padding-bottom: 40px;
    }

    &__descr {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      padding-bottom: 40px;
    }
  }
  @include laptop {
    padding-top: 80px !important;
    padding-bottom: 80px !important;

    &__title {
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-bottom: 32px;
    }

    &__descr {
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 32px;
      width: 533px;
    }
  }
  @include desktop {
    padding-top: 80px !important;
    padding-bottom: 80px !important;

    &__title {
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-bottom: 32px;
    }

    &__descr {
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 32px;
      width: 533px;
    }
  }
}

.our-initiatives-list {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  @include tablet {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
  }
  @include laptop {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 48px;
  }
  @include desktop {
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
  }

  &__item {
    background: #fff;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;

    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      width: calc(100% / 2 - 30px);
    }

    @include laptop {
      width: calc(100% / 3 - 30px);
    }

    @include desktop {
      width: calc(100% / 3 - 30px);
    }
  }
}

.our-initiatives-card {
  padding: 24px 16px;

  &__title {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 24px;

    @include mobile {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__descr {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    padding-bottom: 17px;

    @include mobile {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.6px;
    }
  }

  @include laptop {
    padding: 24px 24px;
  }
  @include desktop {
    padding: 24px 24px;
  }
}

.btn-all-projects {
  margin-top: 48px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: normal;
}
