.requisites {
  padding-top: 80px;
  padding-bottom: 80px;
}

.requisites-container {
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
  }

  &__descr {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  @include desktop {
    &__title {
      text-align: center;
      color: $Text-Blue;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-bottom: 32px;
    }

    &__descr {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      width: 910px;
      text-align: center;
    }
  }
}

.requisites-wrap {
  display: flex;
  justify-content: space-around;
  border-radius: 12px;
  background: #f6f7fb;
  padding-top: 80px;
  padding-bottom: 80px;
  @include mobile {
    display: block;
  }
}

.requisites-content {
  span {
    display: block;
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 41.6px;
    margin-bottom: 64px;
  }
}

.requisites-content-item {
  margin-bottom: 27px;

  &__desc {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    margin-bottom: 12px;
    padding-left: 40px;
  }

  &__info {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
  }

  @include desktop {
    &__desc {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 12px;
    }

    &__info {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    cursor: pointer;
    margin-right: 16px;
  }
}

.-padding {
  padding-left: 40px;
}
