h1 {
  text-align: center;
}

.public-offer {
  padding-top: 80px;

  &__title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 64px;

    @include mobile {
      font-size: 24px;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  .public-offer-link {
    text-decoration: underline;
  }
}

.public-offer-list-item {
  margin-bottom: 48px;

  &__descr {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px;
  }
}

.public-offer h2 {
  color: $Text-Black;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;
  margin-bottom: 24px;

  @include mobile {
    color: $Text-Black;
    font-size: 20px;
    line-height: 26px;
  }
}

.public-offer p {
  color: $Text-Black;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;

  @include mobile {
    min-width: 335px;
    font-size: 14px;
    line-height: 18.2px;
  }
}
.pawn {
  color: $Text-Black;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
}

ol {
  list-style-type: disc;
  list-style: inside;
  color: $Text-Black;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;

  @include mobile {
    font-size: 14px;
    line-height: 18.2px;
  }
}
