.logo {
  .logo-title {
    font-family: Montserrat;
  }
  .logo-subtitle {
    font-weight: 500;
    line-height: normal;
    font-family: Montserrat;
    margin-top: 1px;
  }

  span {
    padding-left: 4px;
  }

  @include mobile {
    display: none;
  }
  @include tablet {
    .logo-link {
      @include center;
    }
  }
  @include laptop {
    .logo-link {
      @include center;
    }
  }
  @include desktop {
    .logo-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.logo-mobile {
  @include mobile {
    .logo-mobile-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.logo-wrap {
  padding-left: 4px;
  &__title {
    font-size: 12px;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    font-family: Montserrat;
    margin-top: 1px;
  }
}
