<section class="activity">
  <div class="container">
    <ul class="activity-list">
      <li class="activity-list__item">
        <h3 class="activity-list-title">Історія початку нашої діяльності</h3>
        <p class="activity-list-descr">Німцович Ємілія Сергіївна в 2014 р. заснувала Г. О. В. О. «Шлях до здорв’я»,
          працювала
          керівником, допомагала хворим у відновлені здоров’я.</p>
        <span><a class="btn btn-more" href="">Дізнатись більше</a></span>
      </li>
      <li class="activity__list-item">
        <img src="./src/img/activity.jpg" alt="">
      </li>
    </ul>
  </div>
</section>