<section class="info container">
  <div class="info-wrap">
    <h2 class="info-title">Громадська організація “Шлях до Здоров’я”</h2>
    <p class="info-descr">Ми - громадська організація, що віддана меті здорового життя
      та благополуччя нашої спільноти. Наша місія полягає в тому, щоб кожна людина мала доступ до інформації,
      ресурсів
      та підтримки, необхідних для збереження та покращення свого фізичного
      та психічного здоров'я.</p>
    <div class="btns">
      <a class="info-btn" href="">Дізнатись більше</a>
      <a class="info-btn" href="">Підтримати нас</a>
    </div>
  </div>
</section>