<section class="our-initiatives container">
  <h2 class="our-initiatives__title">Наші ініціативи</h2>
  <p class="our-initiatives__descr">Ми розробляємо та реалізуємо різноманітні програми
    та проекти, спрямовані на покращення ситуації в галузі охорони здоров'я та благополуччя нашого суспільства.
  </p>
  <ul class="our-initiatives-list">
    <li class="our-initiatives-list__item">
      <img src="./src/img/ou1.jpg" alt="">
      <div class="our-initiatives-card">
        <h3 class="our-initiatives-card__title">
          Проєкт “Українське сонце”
        </h3>
        <p class="our-initiatives-card__descr">Проводимо роботу з дітьми
          та підлітками від 3 до 14 років, навчаємо
          як надавати першу медичну допомогу, організовуємо патріотичний рух молоді.</p>
      </div>
    </li>
    <li class="our-initiatives-list__item">
      <img src="./src/img/ou2.jpg" alt="">
      <div class="our-initiatives-card">
        <h3 class="our-initiatives-card__title">
          Проєкт “Я Українка”
        </h3>
        <p class="our-initiatives-card__descr"> Це один з наших головних культурних проектів. Ми проводимо
          патріотичні та культурні заходи в рамках Всеукраїнського фестивалю “Я Українка!” </p>
      </div>
    </li>
    <li class="our-initiatives-list__item">
      <img src="./src/img/ou3.jpg" alt="">
      <div class="our-initiatives-card">
        <h3 class="our-initiatives-card__title">
          Допомога народу України
        </h3>
        <p class="our-initiatives-card__descr">Ми надаємо юридичні послуги, допомога з реабілітації поранених,
          допомога по господарству, психологічна
          допомога.</p>
      </div>
    </li>
  </ul>
  <a class="btn btn-all-projects" href="#">Всі проєкти</a>
</section>