<section class="requisites">
  <div class="container">
    <div class="requisites-container">
      <h3 class="requisites-container__title">Також ви можете підтримати нас фінансово</h3>
      <p class="requisites-container__descr">Ви можете поповнити банку або скопіювати реквізити
        та виконати переказ коштів через банк.
        Для копіювання реквізитів натискайте на іконки.</p>
    </div>
    <div class="requisites-wrap">

      <ul class="requisites-content">
        <span>Реквізити</span>
        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Найменування одержувача:</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info">
              <svg class="requisites-content-item__icon" width="26px" height="26px">
                <use xlink:href="./icons.svg#icon-copy"></use>
              </svg>
              ГО “Шлях до здоров’я”
            </h5>
          </div>
        </li>

        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Код отримувача ЄДРПОУ:</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info">
              <svg class="requisites-content-item__icon" width="24px" height="24px">
                <use xlink:href="./icons.svg#icon-copy"></use>
              </svg>
              56789976
            </h5>
          </div>
        </li>

        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Рахунок в “Приватбанку” (IBAN):</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info">
              <svg class="requisites-content-item__icon" width="24px" height="24px">
                <use xlink:href="./icons.svg#icon-copy"></use>
              </svg>
              UA383052990000026005015565678
            </h5>
          </div>
        </li>

        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Рахунок в “Ощадбанку” (IBAN):</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info">
              <svg class="requisites-content-item__icon" width="24px" height="24px">
                <use xlink:href="./icons.svg#icon-copy"></use>
              </svg>
              UA383052990000026005015565678
            </h5>
          </div>
        </li>

        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Призначення платежу:</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info">
              <svg class="requisites-content-item__icon" width="24px" height="24px">
                <use xlink:href="./icons.svg#icon-copy"></use>
              </svg>
              Благодійна допомога
            </h5>
          </div>
        </li>
      </ul>

      <ul class="requisites-content">
        <span>Банка</span>
        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Посилання на банку:</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info -padding">
              <a href="send.mobobank">send.mobobank</a>
            </h5>
          </div>
        </li>
        <li class="requisites-content-item">
          <p class="requisites-content-item__desc">Номер карти:</p>
          <div class="requisites-content-item__container">
            <h5 class="requisites-content-item__info">
              <svg class="requisites-content-item__icon" width="24px" height="24px">
                <use xlink:href="./icons.svg#icon-copy"></use>
              </svg>
              5678 8900 7656 7866
            </h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>