<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="./src/img/banner1.png" alt="">
      <div class="slide-text">
        <h2>Ми віримо, що зміни починаються з усіх нас!</h2>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="./src/img/banner2.png" alt="">
      <div class="slide-text">
        <h2>Українці - вільні люди: дізнайтесь детальніше про наш проєкт</h2>
      </div>
    </div>
    <div class="swiper-slide">
      <div style="position: relative;">
        <img src="./src/img/banner3.png" alt="">
        <div class="slide-text">
          <h2>“Шлях до здоров’я” збирає на допомогу з реабілітації поранених</h2>
          <a href="донат Way for pay">донат Way for pay</a>
        </div>

      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>