.blog-project {
  margin-bottom: 108px;
  &__title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 35px;
    text-align: left;

    @include tablet;
    @include desktop {
      width: 845px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  .blog-project-list {
    padding-top: 84px;

    @include mobile {
      padding-top: 38px;
    }

    .blog-project-list-item {
      display: flex;
      gap: 30px;

      @include mobile {
        flex-direction: column;
      }
      @include tablet {
        flex-direction: column;
      }

      &__descr {
        color: $Text-Black;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;

        flex-shrink: 0;
        @include tablet;
        @include desktop {
          width: 516px;
          height: 327px;
        }
      }
    }
  }
}

.comments {
  padding-bottom: 100px;
  border-radius: 8px;

  @include mobile {
    padding-bottom: 96px;
    .container {
      padding: 0;
    }
  }

  &__title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 40px;

    @include mobile {
      font-size: 32px;
    }
  }
}

.comments-wrap {
  display: flex;
  justify-content: space-around;
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}

.comments-info {
  @include mobile {
    padding: 10px;
  }

  &__title {
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;

    @include mobile {
      font-size: 20px;
    }
  }

  &__descr {
    width: 384px;
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;

    @include mobile {
      font-size: 12px;
    }
  }
}

form {
  max-width: 841px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 16px;
}

.blog-project {
  input,
  textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid $Stroke;
    background: #fff;
    color: $Text-Placeholder;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 12px;
    }
  }
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

.content-bg {
  background: #f6f7fb;
  padding: 48px;
}

.form {
  .comments-wrap {
    margin-bottom: 24px;
    div {
      width: 100%;
    }
  }
}

.save_info {
  display: flex;
  align-items: center;
  color: $Text-Black;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    margin-left: 16px;
  }
}

.wrap-label-name,
.wrap-label-email,
.wrap-label-comments,
.wrap-label-site {
  label {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include mobile {
      font-size: 14px;
    }
  }
}

.wrap-label-comments {
  margin-bottom: 24px;
}

.wrap-label-site {
  margin-bottom: 24px;
}

.wrap-comments-btn {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}
