.blog {
  margin: 0 auto;
  @include mobile {
    padding-top: 35px;
  }

  &__title {
    text-align: center;
    font-family: Montserrat;
    color: $Text-Blue;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 35px;
    padding-bottom: 35px;

    @include laptop;
    @include desktop {
      font-size: 48px;
      padding-top: 32px;
      padding-bottom: 36px;
    }
  }

  .blog-wrap {
    max-width: 601px;
    margin-bottom: 32px;
    @include laptop {
      margin-bottom: 48px;
    }
    @include desktop {
      margin-bottom: 48px;
    }
    &__title {
      color: #121212;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;

      @include laptop {
        font-size: 36px;
      }
      @include desktop {
        font-size: 36px;
      }
    }
    &__descr {
      color: #121212;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include laptop {
        font-size: 20px;
      }
      @include desktop {
        font-size: 20px;
      }
    }
  }
}

.blog-projects {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 80px;
}

.blog-projects-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @include tablet {
    width: calc(100% / 1.2 - 32px);
  }
  @include laptop;
  @include desktop {
    width: calc(100% / 2 - 32px);
  }

  img {
    border-radius: 8px 8px 0px 0px;
    @include mobile {
      content: url("/src/img/mobile.jpeg");
      width: 100%;
    }
  }
}

.blog-card-wrap {
  padding: 0px 16px;
  &__title {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 24px;
    padding-bottom: 16px;

    @include laptop;
    @include desktop {
      font-size: 24px;
      font-weight: 400;
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }

  .blog-list {
    list-style: disc inside;

    &__item {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;

      @include laptop;
      @include desktop {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}

.blog-projects-card-link {
  border: 2px solid transparent;
  img {
    width: 100%;
  }
}

.blog-projects-card-link:hover {
  text-decoration: underline;
}
