.materials {
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include laptop;
    @include desktop {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }
}

.materials-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #c6c6c6;
  padding-top: 32px;
  padding-bottom: 32px;

  @include laptop;
  @include desktop {
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  img {
    @include mobile {
      width: 100%;
    }
  }

  &__wrap {
    @include laptop;
    @include desktop {
      padding-left: 30px;
    }
  }

  &__title {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;

    @include laptop;
    @include desktop {
      width: 625px;
      font-size: 24px;
      margin-bottom: 16px;
      margin-top: 0;
    }
  }

  &__descr {
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;

    @include laptop;
    @include desktop {
      width: 734px;
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}

.data-wrap {
  margin-top: 20px;

  .data {
    color: #818181;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.materials-list-link {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  .pagination-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-left: 5px;
    position: relative;
    border-radius: 100px;

    &__link {
      color: $Text-Black;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  svg {
    cursor: pointer;
    font-size: 24px;
  }
}

.pagination-item-first {
  width: 40px;
  height: 40px;
  background: $BTN-Blue;

  a {
    color: white !important;
  }
}

.icon-left {
  margin-right: 24px;
}

.icon-right {
  margin-left: 24px;
}
