.project {
  padding-top: 80px;

  @include mobile {
    padding-top: 35px;
  }

  .project-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    color: $Text-Blue;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 32px;

    @include mobile {
      font-size: 24px;
    }
  }

  &__descr {
    width: 636px;

    color: $Text;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;

    @include mobile {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 60px;
      width: 100%;
    }
  }

  img {
    display: block;
    max-width: 100%;
    background: 50% / cover no-repeat;
  }
}

.photos {
  padding-top: 125px;
  padding-bottom: 173px;
  @include mobile {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.photos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &__item {
    width: 406px;
    // align-items: flex-start;
    display: flex;
    flex-direction: column;
    @include mobile {
      justify-content: center;
      width: 100%;
      margin-bottom: 32px;
    }
  }

  &__descr {
    margin-top: 14px;
    color: $Text-Black;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      font-size: 16px;
    }
  }
}

.wrap-quotes {
  max-width: 904px;
  text-align: center;
}

.quotes-distance {
  margin-bottom: 173px;
}

.quotes-project {
  .author-wrap {
    margin-top: 37px;
    @include mobile {
      text-align: center;
    }
  }

  @include mobile {
    .quotes-text {
      color: $Text-Black;
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }

    .author {
      color: $Text-Black;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
    }

    .author-text {
      color: #818181;
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
